* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

.header {
    background-repeat: no-repeat;
    background-position: right;
    background-position-y: top;
    max-height: auto;
    height: 100%;
    width: 100%;
    border-bottom: ridge 40px rgb(48, 48, 146);
}
nav {
    display: flex;
    align-items: center;
    padding: 20px 8%;
}
nav .logo {
    width: 300px;
    cursor: pointer;
}
nav ul {
    flex: 1;
    text-align: right;
}
nav ul li {
    display: inline-block;
    list-style: none;
    margin: 25px 10px;
    text-align: center;
}
nav ul li a {
    text-decoration: none;
    color: black;
}

.btn {
    text-decoration: none;
    padding: 15px 30px;
    position: relative;
    background-color: gold;
    border: 1px solid goldenrod;
    border-radius: 20px;
}
.btn-1::after, .btn::before {
    border: 3px solid goldenrod;
    border-radius: 20px;
    background-color: goldenrod;
    content: "";
    position: absolute;
    width: calc(100% - 6px);
    height: calc(100% - 6px);
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: transform 0.3s ease;
}
.btn-1:hover::after {
    transform: translate(-5px, -5px);
    background-color: goldenrod;
}
.btn-1:hover::before {
    transform: translate(5px, 5px);
    background-color: goldenrod;
}
.body {
    position: relative;
    display: inline-block;
    width: 100%;
    height: auto;
}
.body .SKF, .text {
    display: block;
    margin: auto;
}
.body .text {
    margin: auto;
    position: absolute;
    top: 10px;
    max-width: 400px;
}